# Set the umask
umask {{ .umask }}

# Load enviros
$HOME/.local/bin/magic-enviro | source

# Abbreviations
magic-abbr | source

# Aliases
magic-alias | source

# Start SSH agent
magic-ssh | source

# https://github.com/decors/fish-colored-man settings
set -gx man_blink     -o red
set -gx man_bold      -o green
set -gx man_standout  -o yellow
set -gx man_underline -u brcyan

# Shell colors
set -gx fish_color_autosuggestion  black
set -gx fish_color_cancel          -r
set -gx fish_color_command         --bold
set -gx fish_color_comment         black
set -gx fish_color_cwd             green
set -gx fish_color_cwd_root        red
set -gx fish_color_end             brmagenta
set -gx fish_color_error           brred
set -gx fish_color_escape          bryellow --bold
set -gx fish_color_history_current --bold
set -gx fish_color_host            normal
set -gx fish_color_match           --background=brblue
set -gx fish_color_normal          normal
set -gx fish_color_operator        bryellow
set -gx fish_color_param           cyan
set -gx fish_color_quote           yellow
set -gx fish_color_redirection     brblue
set -gx fish_color_search_match    bryellow --background=brblack
set -gx fish_color_selection       white --bold --background=brblack
set -gx fish_color_user            brgreen
set -gx fish_color_valid_path      --underline

# Start the vi bindings
fish_vi_key_bindings insert
