# Set the umask.
umask {{ .umask }}

# Source and export environment variables.
$HOME/.local/bin-dotfiles/magic-enviro | source

# Add the custom dotfiles functions into the path.
set fish_function_path \
  (path resolve $__fish_config_dir/functions-dotfiles) \
  $fish_function_path

# Abbreviations.
magic-abbr | source

# Aliases.
magic-alias | source

# Start SSH agent.
magic-ssh | source

# https://github.com/decors/fish-colored-man.
set -U man_blink     red --bold
set -U man_bold      green --bold
set -U man_standout  yellow --bold
set -U man_underline cyan --underline

# Shell colors.
set -U fish_color_autosuggestion  black
set -U fish_color_cancel          --reverse
set -U fish_color_command         --bold
set -U fish_color_comment         black
set -U fish_color_cwd             green
set -U fish_color_cwd_root        red
set -U fish_color_end             magenta --bold
set -U fish_color_error           red --bold
set -U fish_color_escape          yellow --bold
set -U fish_color_history_current --bold
set -U fish_color_host            --bold
set -U fish_color_host_remote     yellow --bold
set -U fish_color_match           --background blue
set -U fish_color_normal          normal
set -U fish_color_operator        yellow --bold
set -U fish_color_param           cyan
set -U fish_color_quote           green
set -U fish_color_redirection     blue --bold
set -U fish_color_search_match    yellow --background black
set -U fish_color_selection       --bold --reverse
set -U fish_color_status          red
set -U fish_color_user            yellow --bold
set -U fish_color_valid_path      --underline

# Set the cursor shape.
set -U fish_cursor_default block
set -U fish_cursor_external block
set -U fish_cursor_insert block
set -U fish_cursor_replace underscore
set -U fish_cursor_replace_one underscore
set -U fish_cursor_visual block

# Start the vi bindings.
fish_vi_key_bindings insert
