{{- $color := include ".color.json" | mustFromJson -}}

#==============================================================================
# Girara Options
#==============================================================================

# These options describe the girara interface

set n-completion-items      10
set completion-bg           "#{{- $color.base00.hex.rgb -}}"
set completion-fg           "#{{- $color.base0c.hex.rgb -}}"
set completion-group-bg     "#{{- $color.base00.hex.rgb -}}"
set completion-group-fg     "#{{- $color.base0c.hex.rgb -}}"
set completion-highlight-bg "#{{- $color.base00.hex.rgb -}}"
set completion-highlight-fg "#{{- $color.base05.hex.rgb -}}"
set default-bg              "#{{- $color.base00.hex.rgb -}}"
set default-fg              "#{{- $color.base05.hex.rgb -}}"
set exec-command            # None
set font                    "{{- .font.name }} {{ .font.size -}}"
set guioptions              s
set inputbar-bg             "#{{- $color.base00.hex.rgb -}}"
set inputbar-fg             "#{{- $color.base05.hex.rgb -}}"
set notification-bg         "#{{- $color.base00.hex.rgb -}}"
set notification-fg         "#{{- $color.base05.hex.rgb -}}"
set notification-error-bg   "#{{- $color.base08.hex.rgb -}}"
set notification-error-fg   "#{{- $color.base05.hex.rgb -}}"
set notification-warning-bg "#{{- $color.base0a.hex.rgb -}}"
set notification-warning-fg "#{{- $color.base05.hex.rgb -}}"
#set show-scrollbars        (deprecated, use `guioptions` instead)
#set show-h-scrollbar       (deprecated, use `guioptions` instead)
#set show-v-scrollbar       (deprecated, use `guioptions` instead)
set statusbar-bg            "#{{- $color.base01.hex.rgb -}}"
set statusbar-fg            "#{{- $color.base04.hex.rgb -}}"
set statusbar-h-padding     2
set statusbar-v-padding     2
set window-height           600
set window-width            800

#==============================================================================
# Zarthura Options
#==============================================================================

# These options describe zathura itself

set abort-clear-search     true
set adjust-open            best-fit
set advance-pages-per-row  false
set incremental-search     true
set highlight-color        "#{{- $color.base0e.hex.rgb -}}"
set highlight-active-color "#{{- $color.base05.hex.rgb -}}"
set highlight-transparency 0.5
set page-padding           1
set page-cache-size        15
set pages-per-row          1
set first-page-column      1
set recolor                false
set recolor-keephue        false
set recolor-darkcolor      "#{{- $color.base05.hex.rgb -}}"
set recolor-lightcolor     "#{{- $color.base00.hex.rgb -}}"
set render-loading         true
set render-loading-bg      "#{{- $color.base00.hex.rgb -}}"
set render-loading-fg      "#{{- $color.base05.hex.rgb -}}"
set scroll-hstep           -1
set scroll-step            40
set scroll-full-overlap    0.1
set scroll-wrap            false
set scroll-page-aware      true
set link-zoom              true
set link-hadjust           true
set search-hadjust         true
set window-title-basename  false
set window-title-page      false
set statusbar-basename     false
set zoom-center            false
set zoom-max               1000
set zoom-min               10
set zoom-step              10
set selection-clipboard    clipboard
