# The $SHELL variable is inherited from which ever shell starts this one, so it
# may not be correct.
set E:SHELL = (which elvish)

# Set the umask for the session
try {
  use unix
  set unix:umask = {{ .umask }}
} catch {
  # Do nothing
}

# Basic Elvish settings
set notify-bg-job-success = $false
set value-out-indicator = (echo (styled '▶ ' blue bold))

# Environment variables
eval ($E:HOME/.local/bin/magic-enviro | slurp)

# Load completions
if (has-external carapace) {
  eval (e:carapace _carapace elvish | slurp)
}

# Abbreviations
eval (e:magic-abbr | slurp)
set edit:small-word-abbr[clear] = 'edit:clear'
set edit:small-word-abbr['2>n'] = ' 2> /dev/null'
set edit:small-word-abbr['>n'] = ' > /dev/null'
set edit:small-word-abbr['a>n'] = ' > /dev/null 2>&1'

# Aliases
eval (e:magic-alias | slurp)

# Prompt theme
use vertical

# Start SSH agent
eval (e:magic-ssh | slurp)

# Load zoxide
if (has-external zoxide) {
  eval (e:zoxide init elvish | slurp)
}
