# Basic Elvish settings
set notify-bg-job-success = $false
set value-out-indicator = (echo (styled '▶ ' blue bold))

# Environment variables
use enviro
enviro:source-dir ~/.local/etc/enviro.d

# Load completions
if (has-external carapace) {
  eval (carapace _carapace elvish | slurp)
}

# Abbreviations
use abbr
abbr:source ~/.config/abbreviations
set edit:small-word-abbr[clear] = 'edit:clear'
set edit:small-word-abbr['2>n'] = ' 2> /dev/null'
set edit:small-word-abbr['>n'] = ' > /dev/null'
set edit:small-word-abbr['a>n'] = ' > /dev/null 2>&1'

# Aliases
use alias
alias:source ~/.config/aliases

# Prompt theme
use vertical

# Start SSH agent
use ssh-agent
ssh-agent:init

# Load zoxide
if (has-external zoxide) {
  eval (zoxide init elvish | slurp)
}

# Set the umask for the session
try {
  use unix
  set unix:umask = {{ .umask }}
} catch {
  # Do nothing
}
