# Shell abbreviations are defined in the following way:
#
# - Empty lines are allowed
# - Lines containing only comments (`# ...`) are allowed
#   - Comments are not allowed on the same line as a variable definition
# - Variable/alias/abbreviation values can be unquoted (if just a single
#   token), single quoted, or double quoted
# - Lines matching `alias VAR=...` are added as aliases/abbreviations
# - Abbreviations are added as aliases so that shells do not support
#   abbreviations may still add them
# - Subshells should use POSIX `$(...)` syntax. When parsed by another shell,
#   the syntax will be converted appropriately.

# Chezmoi.
alias cza='chezmoi apply'
alias czaf='chezmoi apply --force'
alias czcd='cd $(chezmoi source-path)'
alias cze='chezmoi edit'
alias czga='chezmoi git -- add -A'
alias czgc='chezmoi git -- commit'
alias czgp='chezmoi git -- push'
alias czgpl='chezmoi git -- pull'
alias czgs='chezmoi git -- status --short'
alias czgsu='chezmoi git -- status --short -u'
alias czs='chezmoi status'
alias czu='chezmoi update'

# Git.
# git add.
alias ga='git add'
alias gaa='git add --all'
alias gap='git add --patch'
alias gau='git add --update'
# git bisect.
alias gbis='git bisect start'
alias gbisb='git bisect bad'
alias gbisg='git bisect good'
alias gbisl='git bisect log'
alias gbisn='git bisect new'
alias gbiso='git bisect old'
alias gbisr='git bisect reset'
alias gbiss='git bisect skip'
alias gbisv='git bisect visualize'
# git blame.
alias gblame='git blame'
# git branch.
alias gbr='git branch'
alias gbrd='git branch --delete'
# git clean.
alias gclean='git clean -fdXn'
# git commit.
alias gc='git commit'
alias gca='git commit --amend --date=now'
alias gcan='git commit --amend --no-edit --date=now'
# git diff.
alias gd='git diff'
alias gds='git diff --staged'
# git fetch.
alias gf='git fetch'
alias gfp='git fetch --prune'
# git grep.
alias gg='git grep'
# git log.
alias gl='git log'
alias glg='git log --graph --oneline'
# git pull.
alias gpl='git pull'
alias gplf='git pull --no-rebase --ff-only'
alias gplm='git pull --no-rebase --ff'
alias gplr='git pull --rebase'
# git push.
alias gp='git push'
alias gps='git push --set-upstream origin'
# git rebase.
alias greb='git rebase'
alias grebh='git rebase -i HEAD~'
alias grebi='git rebase -i'
alias grebr='git rebase -i --root'
# git reset.
alias grh='git reset HEAD'
# git restore.
alias gr='git restore'
# git stash.
alias gstash='git stash'
alias gstasha='git stash apply'
alias gstashd='git stash drop'
alias gstashp='git stash pop'
# git status.
alias g='git status --short'
alias gu='git status --short --untracked-files'
# git switch.
alias gs='git switch'

# Make.
alias m=make

# tmux.
alias mux=tmuxinator
alias muxa='tmux attach-session'
alias muxc='tmuxinator start -n $(slugcwd) code'
alias muxd='tmuxinator start -n $(slugcwd) default'
alias muxl='tmux list-sessions'
alias muxn='tmux new -s'
alias muxn='tmuxinator start -n $(slugcwd)'
alias muxt='tmux attach-session -t'

{{ if lookPath "zathura" -}}
# Zathura.
alias zat='zathura --fork'
{{- end }}
