# Shell aliases are defined in the following way:
#
# - Empty lines are allowed
# - Lines containing only comments (`# ...`) are allowed
#   - Comments are not allowed on the same line as a variable definition
# - Variable/alias/abbreviation values can be unquoted (if just a single
#   token), single quoted, or double quoted
# - Lines matching `alias VAR=...` are added as aliases/abbreviations
# - Abbreviations are added as aliases so that shells do not support
#   abbreviations may still add them
# - Subshells should use POSIX `$(...)` syntax. When parsed by another shell,
#   the syntax will be converted appropriately.

alias a=tmux-default
alias l=eza
alias la='eza --git -a'
alias ll='eza --git -al'
alias lt="eza --git -alT --ignore-glob='.git'"
{{- if eq .chezmoi.os "darwin" }}
alias o='open'
{{- else if eq .chezmoi.os "linux" }}
alias o='xdg-open'
{{- end }}
alias pp='clipboard --paste'
alias yc='clipboard --clear'
alias yy='clipboard --copy'
