{{- $color := include ".gen/color.json" | mustFromJson -}}

colors:
  background_color: {{ $color.base00.hex.rgb | quote }}
  black: {{ $color.base03.hex.rgb | quote }}
  white: {{ $color.base05.hex.rgb | quote }}
  red: {{ $color.base08.hex.rgb | quote }}
  orange: {{ $color.base09.hex.rgb | quote }}
  yellow: {{ $color.base0a.hex.rgb | quote }}
  green: {{ $color.base0b.hex.rgb | quote }}
  cyan: {{ $color.base0c.hex.rgb | quote }}
  blue: {{ $color.base0d.hex.rgb | quote }}
  pink: {{ $color.base0e.hex.rgb | quote }}
  purple: {{ $color.base0f.hex.rgb | quote }}

core:
  normal_text: {}
  regular_file: {}
  reset_to_normal: {}

  directory:
    foreground: blue
    font-style: bold

  symlink:
    foreground: cyan

  multi_hard_link: {}

  fifo:
    foreground: yellow
    background: black

  socket:
    foreground: black
    background: pink

  door:
    foreground: black
    background: pink

  block_device:
    foreground: cyan
    background: black

  character_device:
    foreground: orange
    background: black

  broken_symlink:
    foreground: black
    background: red

  missing_symlink_target:
    foreground: black
    background: red

  setuid: {}

  setgid: {}

  file_with_capability: {}

  sticky_other_writable: {}

  other_writable: {}

  sticky: {}

  executable_file:
    foreground: pink
    font-style: bold

text:
  special:
    foreground: yellow
    font-style: underline

  todo:
    font-style: bold

  licenses:
    foreground: pink

  configuration:
    foreground: yellow

  other:
    foreground: white

markup:
  foreground: green

programming:
  source:
    foreground: green

  tooling:
    foreground: green
    font-style: underline

    continuous-integration:
      foreground: green
      font-style: underline

media:
  foreground: orange

office:
  foreground: orange
  font-style: bold

archives:
  foreground: purple
  font-style: underline

executable:
  foreground: pink
  font-style: bold

unimportant:
  foreground: black
