{{ $editor := promptString "What text editor do you use" -}}
{{ $git_name := promptString "What is you full name for git" -}}
{{ $git_email := promptString "What is your email address for git" -}}
{{ $location_wttr := promptString "What is your location for wttr.in (city-province-country)" -}}

format: yaml
mode: file
umask: 0o022

data:
  editor: {{ $editor | quote }}

  git:
    email: {{ $git_email | quote }}
    name: {{ $git_name | quote }}

  location:
    wttr: {{ $location_wttr | quote }}
