# If not running interactively, don't do anything
case $- in
  *i*) ;;
    *) return;;
esac

# Load custom variables
profiled="$HOME/.local/etc/profile.d"
for f in $(ls "$profiled"); do
  . "$profiled/$f"
done

# Don't write history to a file
HISTFILE=""

# Ignore duplicates and lines starting with a space
HISTCONTROL=ignoreboth
HISTFILESIZE=2000
HISTSIZE=1000
# Append to the history file, don't overwrite it
shopt -s histappend

# Check the window size after each command and, if necessary, update the values
# of LINES and COLUMNS.
shopt -s checkwinsize

# Set the prompt
case "$TERM" in
  # Color
  xterm-color|*-256color)
    PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
    ;;
  # No color
  *)
    PS1='\u@\h:\w\$ '
    ;;
esac

if [ -x /usr/bin/dircolors ]; then
  if [ -r ~/.dircolors ]; then
    eval "$(dircolors -b ~/.dircolors)"
  else
    eval "$(dircolors -b)"
  fi
  alias ls='ls --color=auto'
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

# Enable programmable completion features
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
  . /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
  . /etc/bash_completion
  fi
fi

{{ template "umask" . -}}
