#!/usr/bin/env sh

python=""
if command -v python3 > /dev/null; then
    python=python3
elif command -v python2 > /dev/null; then
    python=python2
elif command -v python > /dev/null; then
    python=python
else
    echo "Could not find a python in PATH" >&2
    exit 1
fi

colorscheme={{ .colorscheme | quote }}
color_dir="{{ .chezmoi.sourceDir }}/_color"
script="$color_dir/color.py"
color_file="$color_dir/color.json"

"$python" "$script" "$colorscheme" > "$color_file"
