{{- if (eq .chezmoi.os "linux") -}}

#!/usr/bin/env sh

# Set the default browser
if  command -v xdg-settings > /dev/null 2>&1; then
    xdg-settings set default-web-browser org.qutebrowser.qutebrowser.desktop
fi

{{- end -}}
