{{- $color := includeTemplate "color.json" . | mustFromJson -}}

palette              =  0=#{{- $color.black.hex.rgb }}
palette              =  1=#{{- $color.red.hex.rgb }}
palette              =  2=#{{- $color.green.hex.rgb }}
palette              =  3=#{{- $color.yellow.hex.rgb }}
palette              =  4=#{{- $color.blue.hex.rgb }}
palette              =  5=#{{- $color.pink.hex.rgb }}
palette              =  6=#{{- $color.cyan.hex.rgb }}
palette              =  7=#{{- $color.white.hex.rgb }}
palette              =  8=#{{- $color.black.hex.rgb }}
palette              =  9=#{{- $color.red.hex.rgb }}
palette              = 10=#{{- $color.green.hex.rgb }}
palette              = 11=#{{- $color.yellow.hex.rgb }}
palette              = 12=#{{- $color.blue.hex.rgb }}
palette              = 13=#{{- $color.pink.hex.rgb }}
palette              = 14=#{{- $color.cyan.hex.rgb }}
palette              = 15=#{{- $color.white.hex.rgb }}
background           = #{{- $color.bg.hex.rgb }}
foreground           = #{{- $color.fg.hex.rgb }}
cursor-color         = #{{- $color.fg.hex.rgb }}
cursor-text          = #{{- $color.bg.hex.rgb }}
selection-background = #{{- $color.base02.hex.rgb }}
selection-foreground = #{{- $color.fg.hex.rgb }}
