{{- $colorscheme := promptStringOnce . "colorscheme" "colorscheme" "moonlight" -}}
{{- $dimBorder := promptIntOnce . "dimBorder" "border (px)" 2 -}}
{{- $dimGap := promptIntOnce . "dimGap" "gap (px)" 48 -}}
{{- $dimPadding := promptIntOnce . "dimPadding" "padding (px)" 8 -}}
{{- $editor := promptStringOnce . "editor" "editor" "vi" -}}
{{- $fontName := promptStringOnce . "fontName" "font name" "monospace" -}}
{{- $fontSize := promptIntOnce . "fontSize" "font size (pt)" 11 -}}
{{- $gitEmail := promptStringOnce . "gitEmail" "git email" -}}
{{- $gitName := promptStringOnce . "gitName" "git author name" -}}
{{- $shell := promptStringOnce . "shell" "shell" "bash" -}}
{{- $umask := promptStringOnce . "umask" "umask" "022" | trunc -3 -}}

format = "json"
mode = "file"
umask = 0o{{- $umask }}

[data]
colorscheme = {{ $colorscheme | quote }}
dimBorder = {{ $dimBorder }}
dimGap = {{ $dimGap }}
dimPadding = {{ $dimPadding }}
editor = {{ $editor | quote }}
fontName = {{ $fontName | quote }}
fontSize = {{ $fontSize }}
gitEmail = {{ $gitEmail | quote }}
gitName = {{ $gitName | quote }}
shell = {{ $shell | quote }}
umask = {{ printf "0%s" $umask | quote }}
