**/README.md

{{ if ne .chezmoi.os "linux" }}
.config/alacritty
.config/autostart
.config/bspwm
.config/dunst
.config/mimeapps.list
.config/picom
.config/polybar
.config/rofi
.config/sxhkd
.config/user-dirs.*
.config/wallpaper
.config/xfce4
.config/zathura
.local/bin-dotfiles/hotkey-*
.local/bin-dotfiles/music-choose
.local/bin-dotfiles/nightshift
.local/bin-dotfiles/notify-*
.local/bin-dotfiles/session-*
.local/bin-dotfiles/wallpaper-*
{{ end }}
