# The $SHELL variable is inherited from which ever shell starts this one, so it
# may not be correct.
export SHELL=$(which bash)

# Set the umask
umask {{ .umask }}

# Source and export environment variables
eval "$($HOME/.local/bin/magic-enviro)"

# If not running interactively, don't do anything more
[[ $- != *i* ]] && return

# Aliases
eval "$(magic-abbr)"
eval "$(magic-alias)"

# SSH agent
eval "$(magic-ssh)"

# Disable persistent command history
HISTFILE=""
HISTCONTROL=ignoreboth # Ignore duplicates and lines starting with a space
HISTSIZE=1000

# Check the window size after each command and, if necessary, update the values
# of LINES and COLUMNS.
shopt -s checkwinsize

# Set the prompt
case "$TERM" in
  # Color
  xterm-color|*-256color)
    PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
    ;;
  # No color
  *)
    PS1='\u@\h:\w\$ '
    ;;
esac

# Enable programmable completion features
if ! shopt -oq posix; then
  if [ -f /usr/share/bash-completion/bash_completion ]; then
    source /usr/share/bash-completion/bash_completion
  elif [ -f /etc/bash_completion ]; then
    source /etc/bash_completion
  fi
fi
