[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=bspwm
Comment=bspwm window manager
Exec={{- .chezmoi.homeDir -}}/.local/bin/bashful bspwm
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
