[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=dunst
Comment=Lightweight and customizable notification daemon
Exec={{ env "HOME" }}/.local/bin/bashful dunst
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
