[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Network monitor
Comment=Network status monitor
Exec={{ env "HOME" }}/.local/bin/bashful notify-network --notify --monitor
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
