[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=picom
Comment=A lightweight compositor for X11
Exec={{ env "HOME" }}/.local/bin/bashtion picom
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
