{{- if (eq .chezmoi.os "linux") -}}

#!/usr/bin/env sh

set -e

mkdir -p $HOME/Desktop
mkdir -p $HOME/Documents
mkdir -p $HOME/Downloads
mkdir -p $HOME/Music
mkdir -p $HOME/Pictures
mkdir -p $HOME/Public
mkdir -p $HOME/Templates
mkdir -p $HOME/Videos

{{- end -}}
