{{- if (eq .chezmoi.os "linux") -}}

#!/usr/bin/env sh

set -e

mkdir -p $HOME/Desktop
mkdir -p $HOME/Documents
mkdir -p $HOME/Documents/Music
mkdir -p $HOME/Documents/Pictures
mkdir -p $HOME/Documents/Templates
mkdir -p $HOME/Documents/Videos
mkdir -p $HOME/Downloads
mkdir -p $HOME/Public

{{- end -}}
