{{- if eq .chezmoi.os "darwin" -}}

#!/usr/bin/env sh

# The following hashes are included in this script so that it is only run when
# the contents of the files change and thus the contents of this script change.
# packages.yml hash: {{ include ".chezmoidata/packages.toml" | sha256sum }}

set -e

# Prevent writing .DS_Store files on external drives and network devices.
defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true

# Prevent the last login message when a shell starts.
touch ~/.hushlogin

{{- end -}}
