#!/usr/bin/env sh

# Generate the color theme to use in templates.

set -e

script="{{ .chezmoi.sourceDir }}/dot_config/exact_color/color.py"
color_file="{{ .chezmoi.sourceDir }}/.gen/color.json"

mkdir -p "{{ .chezmoi.sourceDir }}/.gen"
python3 "$script" "{{ .colorscheme }}" "{{ .specialColor }}" > "$color_file"
