{{- if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "void") -}}

#!/usr/bin/env sh

# The following hashes are included in this script so that it is only run when
# the contents of the files change and thus the contents of this script change.
# packages.yml hash: {{ include ".chezmoidata/packages.yml" | sha256sum }}

set -e

sudo xbps-install -Su
{{- range .packages.linux.void.xbps }} {{ . | quote }}{{ end -}}

{{- end -}}
