{{- if (eq .chezmoi.os "linux") -}}
{{- if lookPath "crontab" -}}

#!/usr/bin/env sh

# Apply a new crontab.

set -e

export EDITOR="$HOME/.config/crontab/crontab-apply"
export VISUAL="$EDITOR"
crontab -e > /dev/null 2>&1

{{- end -}}
{{- end -}}
