{{- if (eq .chezmoi.os "linux") -}}
{{- if (eq .chezmoi.osRelease.id "void") -}}

#!/usr/bin/env sh

set -e

# Install xbps packages
packages="
  alacritty
  alsa-utils
  atool
  bash
  bat
  bspwm
  curl
  dunst
  editorconfig
  exa
  gcc
  git
  gnome-keyring
  hsetroot
  ImageMagick
  kakoune
  kid3
  lightdm
  lightdm-gtk3-greeter
  make
  mpc
  mpd
  mpv
  ncmpcpp
  nerd-fonts
  numix-themes
  papirus-icon-theme
  pdf.js
  picom
  polybar
  python3
  qutebrowser
  ranger
  redshift
  ripgrep
  rofi
  ruby-tmuxinator
  screen
  scrot
  seahorse
  sxhkd
  sxiv
  tmux
  w3m-img
  wicd
  wicd-gtk
  wmname
  xdotool
  xfce4
  xprop
  xsel
  xset
  xsetroot
  zathura
  zathura-pdf-mupdf
  zenity
  zoxide
"

sudo xbps-install -Su $packages

{{- end -}}
{{- end -}}
