{{- $color := include "_color/color.json" | mustFromJson -}}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ansi 0 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base03.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base03.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base03.dec.b -}}</real>
    </dict>
    <key>Ansi 1 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base08.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base08.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base08.dec.b -}}</real>
    </dict>
    <key>Ansi 2 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0b.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0b.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0b.dec.b -}}</real>
    </dict>
    <key>Ansi 3 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0a.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0a.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0a.dec.b -}}</real>
    </dict>
    <key>Ansi 4 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0d.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0d.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0d.dec.b -}}</real>
    </dict>
    <key>Ansi 5 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0e.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0e.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0e.dec.b -}}</real>
    </dict>
    <key>Ansi 6 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0c.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0c.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0c.dec.b -}}</real>
    </dict>
    <key>Ansi 7 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base05.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base05.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base05.dec.b -}}</real>
    </dict>
    <key>Ansi 8 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base03.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base03.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base03.dec.b -}}</real>
    </dict>
    <key>Ansi 9 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base08.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base08.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base08.dec.b -}}</real>
    </dict>
    <key>Ansi 10 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0b.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0b.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0b.dec.b -}}</real>
    </dict>
    <key>Ansi 11 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0a.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0a.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0a.dec.b -}}</real>
    </dict>
    <key>Ansi 12 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0d.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0d.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0d.dec.b -}}</real>
    </dict>
    <key>Ansi 13 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0e.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0e.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0e.dec.b -}}</real>
    </dict>
    <key>Ansi 14 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base0c.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base0c.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base0c.dec.b -}}</real>
    </dict>
    <key>Ansi 15 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base05.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base05.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base05.dec.b -}}</real>
    </dict>

    <key>Background Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base00.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base00.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base00.dec.b -}}</real>
    </dict>
    <key>Bold Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base05.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base05.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base05.dec.b -}}</real>
    </dict>
    <key>Cursor Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base05.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base05.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base05.dec.b -}}</real>
    </dict>
    <key>Cursor Text Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base00.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base00.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base00.dec.b -}}</real>
    </dict>
    <key>Foreground Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base05.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base05.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base05.dec.b -}}</real>
    </dict>
    <key>Selected Text Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base05.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base05.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base05.dec.b -}}</real>
    </dict>
    <key>Selection Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base02.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base02.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base02.dec.b -}}</real>
    </dict>
  </dict>
</plist>
