{{- $color := include "_color/color.json" | mustFromJson -}}

* {
    background: #{{- $color.base07.hex.rgb -}};
    background-alt: #{{- $color.base06.hex.rgb -}};
    foreground: #{{- $color.base00.hex.rgb -}};
    foreground-alt: #{{- $color.base03.hex.rgb -}};
    accent: #{{- $color.base09.hex.rgb -}};
    border: #{{- $color.base05.hex.rgb -}};
}
