name: default
root: {{ .chezmoi.homeDir }}

startup_window: term

windows:
  - term:
      layout: even-horizontal
      panes:
        - # Terminal
        - # Terminal
  - music:
      panes: ncmpcpp
      root: {{ .chezmoi.homeDir }}/Music
  - dots:
      layout: even-horizontal
      panes:
        - # Terminal
        - # Terminal
      root: {{ .chezmoi.sourceDir }}
  - update:
      layout: even-horizontal
      panes:
        - # Terminal
        - # Terminal
