name: main
root: {{ .chezmoi.homeDir }}

startup_window: term

windows:
  - music:
      panes: ncmpcpp
  - dots:
      layout: even-horizontal
      panes:
        - clear
        - clear
      root: {{ .chezmoi.sourceDir }}
  - term:
      layout: even-horizontal
      panes:
        - clear
        - clear
