{{- $color := includeTemplate "color.json" . | mustFromJson -}}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ansi 0 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.black.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.black.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.black.dec.b -}}</real>
    </dict>
    <key>Ansi 1 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.red.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.red.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.red.dec.b -}}</real>
    </dict>
    <key>Ansi 2 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.green.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.green.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.green.dec.b -}}</real>
    </dict>
    <key>Ansi 3 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.yellow.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.yellow.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.yellow.dec.b -}}</real>
    </dict>
    <key>Ansi 4 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.blue.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.blue.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.blue.dec.b -}}</real>
    </dict>
    <key>Ansi 5 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.pink.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.pink.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.pink.dec.b -}}</real>
    </dict>
    <key>Ansi 6 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.cyan.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.cyan.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.cyan.dec.b -}}</real>
    </dict>
    <key>Ansi 7 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.white.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.white.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.white.dec.b -}}</real>
    </dict>
    <key>Ansi 8 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.black.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.black.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.black.dec.b -}}</real>
    </dict>
    <key>Ansi 9 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.red.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.red.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.red.dec.b -}}</real>
    </dict>
    <key>Ansi 10 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.green.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.green.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.green.dec.b -}}</real>
    </dict>
    <key>Ansi 11 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.yellow.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.yellow.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.yellow.dec.b -}}</real>
    </dict>
    <key>Ansi 12 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.blue.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.blue.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.blue.dec.b -}}</real>
    </dict>
    <key>Ansi 13 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.pink.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.pink.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.pink.dec.b -}}</real>
    </dict>
    <key>Ansi 14 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.cyan.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.cyan.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.cyan.dec.b -}}</real>
    </dict>
    <key>Ansi 15 Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.white.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.white.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.white.dec.b -}}</real>
    </dict>

    <key>Background Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.bg.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.bg.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.bg.dec.b -}}</real>
    </dict>
    <key>Bold Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.fg.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.fg.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.fg.dec.b -}}</real>
    </dict>
    <key>Cursor Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.fg.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.fg.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.fg.dec.b -}}</real>
    </dict>
    <key>Cursor Text Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.bg.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.bg.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.bg.dec.b -}}</real>
    </dict>
    <key>Foreground Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.fg.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.fg.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.fg.dec.b -}}</real>
    </dict>
    <key>Selected Text Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.fg.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.fg.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.fg.dec.b -}}</real>
    </dict>
    <key>Selection Color</key>
    <dict>
      <key>Color Space</key>
      <string>sRGB</string>
      <key>Red Component</key>
      <real>{{- $color.base02.dec.r -}}</real>
      <key>Green Component</key>
      <real>{{- $color.base02.dec.g -}}</real>
      <key>Blue Component</key>
      <real>{{- $color.base02.dec.b -}}</real>
    </dict>
  </dict>
</plist>
