{{- $color := include "_color/color.json" | mustFromJson -}}

#!/usr/bin/env sh

# This indicates that the script is run in startup mode, where everything is
# initialized. After startup mode it should be called with a non-zero parameter
# to prevent everything from being killed and reloaded.
if [ "$1" -eq 0 ]; then
    startup=true
else
    startup=false
fi

# Start the hotkey daemon
if $startup; then
    pkill sxhkd
    SXHKD_SHELL=$(which sh) sxhkd -c "$XDG_CONFIG_HOME/berry/sxhkdrc" &
fi

{{ template "wm_init_wm_independent.sh" }}
{{ template "wm_init_non_reparenting.sh" }}

# Set the color of the outer border of the focused window
berryc focus_color {{ $color.base00.hex.rgb }}

# Set the color of the outer border for all unfocused windows
berryc unfocus_color {{ $color.base00.hex.rgb }}

# Set the color of the inner border and the titlebar of the focused window
berryc inner_focus_color {{ $color.base05.hex.rgb }}

# Set the color of the inner border and the titlebar of the unfocused window
berryc inner_unfocus_color {{ $color.base01.hex.rgb }}

# Set the color of the title bar text for the focused window
berryc text_focus_color {{ $color.base05.hex.rgb }}

# Set the color of the title bar text for all unfocused windows
berryc text_unfocus_color {{ $color.base01.hex.rgb }}

# Set the name of the font to use (e.g. set_font dina-9)
berryc set_font {{ .font.name }}

# Set the border width, in pixels, of the outer border
berryc border_width {{ .dim.border.width_outer }}

# Set the border width, in pixels, of the inneer border
berryc inner_border_width {{ .dim.border.width_inner }}

# Set the height of the title bar, does not include border widths
berryc title_height {{ .dim.title.height }}

# Set the edge padding around the screen
berryc edge_gap 0 0 0 0

# Determine whether or not text should be draw in title bars
berryc draw_text false

# Determine whether or not newly placed windows should be placed in the largest
# available space.
berryc smart_place true

# Determine whether or not BERRY_WINDOW_STATUS returns JSON formatted text.
berryc json_status true

if $startup; then
    # Associate the ith monitor to the jth workspace
    for i in $(seq 0 9); do
        berryc save_monitor $i 0
    done

    # Name the ith desktop name. Used with _NET_DESKTOP_NAMES.
    for i in $(seq 0 9); do
        berryc name_desktop $i $i
    done
fi
