{{- /*

To maintain compatibility with non-POSIX shells, shell abbreviations are
defined in the following way:

- Empty lines are allowed
- Lines containing only comments (`# ...`) are allowed
  - Comments are not allowed on the same line as a variable definition
- Variable/alias/abbreviation values can be unquoted (if just a single token),
  single quoted, or double quoted
- Lines matching `alias VAR=...` are added as aliases/abbreviations
- Abbreviations are added as aliases so that shells do not support
  abbreviations may still add them
- Subshells should use POSIX `$(...)` syntax. When parsed by another shell,
  the syntax will be converted appropriately.

*/ -}}

alias cza='chezmoi apply'
alias czaf='chezmoi apply --force'
alias czcd='cd $(chezmoi source-path)'
alias cze='chezmoi edit'
alias czga='chezmoi git -- add -A'
alias czgc='chezmoi git -- commit'
alias czgp='chezmoi git -- push'
alias czgpl='chezmoi git -- pull'
alias czgs='chezmoi git -- status --short'
alias czgsu='chezmoi git -- status --short -u'
alias czs='chezmoi status'
alias ga='git add'
alias gaa='git add -A .'
alias gau='git add -u'
alias gb='git branch'
alias gc='git commit'
alias gca='git commit --amend --date=now'
alias gcan='git commit --amend --no-edit --date=now'
alias gch='git checkout'
alias gcl='git clean -fdXn'
alias gd='git diff'
alias gds='git diff --staged'
alias gl='git log'
alias gl1='git log -1'
alias gl2='git log -2'
alias gl3='git log -3'
alias gl4='git log -4'
alias gl5='git log -5'
alias gl6='git log -6'
alias gl7='git log -7'
alias gl8='git log -8'
alias gl9='git log -9'
alias glg='git log --graph --oneline'
alias gp='git push'
alias gpl='git pull'
alias gplf='git pull --no-rebase --ff-only'
alias gplm='git pull --no-rebase --ff'
alias gplr='git pull --rebase'
alias grb='git rebase -i $(git merge-base $(git symbolic-ref --short HEAD) main)'
alias gri='git rebase -i HEAD~'
alias grr='git rebase -i --root'
alias grh='git reset HEAD'
alias gst='git stash'
alias gsta='git stash apply'
alias gstd='git stash drop'
alias gstp='git stash pop'
alias gs='git status --short'
alias gsu='git status --short -u'
alias mux=tmuxinator
alias muxc='tmuxinator start -n $(slugcwd) code'
alias muxd='tmuxinator start -n $(slugcwd) default'
alias muxn='tmuxinator start -n $(slugcwd)'
alias ta='tmux attach-session'
alias tat='tmux attach-session -t'
alias tl='tmux list-sessions'
alias tn='tmux new -s'
