# Shell aliases are defined in the following way:
#
# - Empty lines are allowed
# - Lines containing only comments (`# ...`) are allowed
#   - Comments are not allowed on the same line as a variable definition
# - Variable/alias/abbreviation values can be unquoted (if just a single
#   token), single quoted, or double quoted
# - Lines matching `alias VAR=...` are added as aliases/abbreviations
# - Abbreviations are added as aliases so that shells do not support
#   abbreviations may still add them
# - Subshells should use POSIX `$(...)` syntax. When parsed by another shell,
#   the syntax will be converted appropriately.

alias a=tmux-default
alias cdp='cd ..'
alias cdpp='cd ../..'
alias cdppp='cd ../../..'
alias cdpppp='cd ../../../..'
alias e='{{- .editor -}}'
alias f=ranger
alias m=make
alias rq="rg --no-ignore --hidden --follow --glob '!.git/*'"
alias l=exa
alias la='exa --git -a'
alias ll='exa --git -al'
alias lt="exa --git -alT --ignore-glob='.git'"
alias pp='clipboard --paste'
alias yc='clipboard --clear'
alias yy='clipboard --copy'
alias zat='zathura --fork'
