{{- $color := includeTemplate "color.json" . | mustFromJson -}}

#!/bin/sh

# Start the hotkey daemon
if ! pgrep sxhkd; then
  sxhkd &
fi

# Prevent the cursor from changing to an X when hovering over non-window
# space
xsetroot -cursor_name left_ptr &

# The standard Java GUI tookit keeps a list of known non-reparenting window
# managers. If using one that is not on that list, the windows might display a
# blank screen. This can be solved by setting the name of the WM to one that is
# known to be non-reparenting.
wmname LG3D

# Kill any existing instances of bspc (because of subscriptions)
pkill bspc

# Set up the monitor
bspc monitor -d 1 2 3 4 5 6 7 8 9 0

# Padding and general layout
bspc config top_padding    0
bspc config right_padding  0
bspc config bottom_padding 0
bspc config left_padding   0
bspc config window_gap     {{ .dimGap }}
bspc config split_ratio    0.5

# Borders
bspc config border_width {{ .dimBorder }}
bspc config normal_border_color   "#{{ $color.bg.hex.rgb }}"
bspc config focused_border_color  "#{{ $color.fg.hex.rgb }}"
bspc config presel_feedback_color "#{{ $color.fg.hex.rgb }}"

# Never go fullscreen when tiled. The window is instead made fullscreen within
# the tile.
bspc config ignore_ewmh_fullscreen all

# Monocle
bspc config borderless_monocle  true
bspc config gapless_monocle     true
bspc config paddingless_monocle true
bspc config single_monocle      true

# Rules
bspc rule -r "*"
bspc rule -a matplotlib state=floating
bspc rule -a Matplotlib state=floating
bspc rule -a mpv state=floating rectangle=480x270+{{ .dimGap }}+{{ .dimGap }}
bspc rule -a Zathura state=tiled

# Control
bspc config click_to_focus button1
