{{- $color := includeTemplate "color.json" . | mustFromJson -}}

[global]
# The notifications follow keyboard focus
follow = keyboard

font = {{ .fontName }} {{ .fontSize }}

# The following format specifiers can be used:
# %a appname
# %s summary
# %b body
# %i iconname (including its path)
# %I iconname (without its path)
# %p progress value ([0%] to [100%])
# %n progress value without any extra characters
# %% Literal %
format = "<b>%a</b> %s\n%b"

# Frame
frame_width = 0
frame_color = "#{{- $color.black.hex.rgb -}}"

# Geometry
width = 320
height = 200
origin = top-right
offset = {{ div .dimGap 2 -}}x{{- div .dimGap 2 }}
padding = {{ .dimPadding }}
horizontal_padding = {{ .dimPadding }}

# Icon
enable_recursive_icon_lookup = true
icon_position = left
# TODO Get the theme from a template variable
icon_theme = Papirus
# The icon size of 24 is used because it has the most icons for SVG themes.
# The icon is upscaled using the (min|max)_icon_size.
icon_size = 24
min_icon_size = 24
max_icon_size = 128

# Progress bar
progress_bar = true
# TODO Get these dimensions from template variables (this requires the notification size as well)
progress_bar_height = 12
progress_bar_min_width = 304
progress_bar_max_width = 304
progress_bar_frame_width = 1

# Allow HTML markup
markup = yes

# Separator
separator_color = frame
separator_height = 0

# Sort by urgency
sort = true

# Allowed notifications recalled from history to timeout automatically
sticky_history = false

# Wrap long lines
word_wrap = true

[urgency_low]
background = "#{{- $color.fg.hex.rgb -}}"
foreground = "#{{- $color.bg.hex.rgb -}}"
highlight  = "#{{- $color.black.hex.rgb -}}"
timeout    = 5

[urgency_normal]
background = "#{{- $color.fg.hex.rgb -}}"
foreground = "#{{- $color.bg.hex.rgb -}}"
highlight  = "#{{- $color.black.hex.rgb -}}"
timeout    = 5

[urgency_critical]
background = "#{{- $color.red.hex.rgb -}}"
foreground = "#{{- $color.bg.hex.rgb -}}"
highlight  = "#{{- $color.black.hex.rgb -}}"
timeout    = 0
