{{ template "sxhkdrc_wm_independent" }}

#------------------------------------------------------------------------------
# Berry General
#------------------------------------------------------------------------------

# Make sxhkd and berry reload its configuration files
super + Escape
    pkill -USR1 -x sxhkd; \
    "$XDG_CONFIG_HOME/berry/autostart" false

# Quit berry
super + shift + alt + Escape
    pkill berry

# Show workspace information
super + d
    "$XDG_CONFIG_HOME/berry/berry-info"

#------------------------------------------------------------------------------
# Berry Window Controls
#------------------------------------------------------------------------------

# Close a window
super + w
    berryc window_close

# Toggle window decorations
super + n
    berryc toggle_decorations

# Toggle a window fullscreen
super + f
    berryc fullscreen && berryc toggle_decorations

# Focus to or send a window to the given workspace
super + {_,shift + }{1-9,0}
    berryc {switch_workspace,send_to_workspace} {0-9}

# Focus the next client in the current workspace
super + c
    berryc cycle_focus; berryc window_raise

# Center the window
super + shift + c
    berryc window_center; berryc window_raise

# Focus to a window in a given direction
super + {h,j,k,l}
    berryc cardinal_focus {2,3,1,0}; berryc window_raise

# Move a window in the given direction
super + shift + {h,j,k,l}
    "$XDG_CONFIG_HOME/berry/berry-window-move" {left,down,up,right}

# Snap a window left or right
super + s; {h, l}
    "$XDG_CONFIG_HOME/berry/berry-window-snap" {left,right}

# Expand a window by moving one of its sides outward
super + alt + {h,j,k,l}
    "$XDG_CONFIG_HOME/berry/berry-window-grow" {left,down,up,right}

# Contract a window by moving one of its sides inward
super + alt + shift + {h,j,k,l}
    "$XDG_CONFIG_HOME/berry/berry-window-shrink" {left,down,up,right}

# Focus the client under the cursor
~button1
    berryc pointer_focus
