# General options
music_directory    "~/Music"
bind_to_address    "localhost"
port               "6600"
db_file            "~/Music/.mpd/database"
log_file           "/dev/null" # "~/.mpd/log"
playlist_directory "~/Music/.mpd/playlists"
pid_file           "~/Music/.mpd/pid"
state_file         "~/Music/.mpd/state"
sticker_file       "~/Music/.mpd/sticker.sql"

# Start in paused mode (no audio output)
restore_paused "yes"

# Automatically update the library when it changes
auto_update       "yes"
auto_update_depth "3"

# Symlinks
follow_outside_symlinks "yes"
follow_inside_symlinks  "yes"

{{ if (eq .chezmoi.os "linux" ) }}
audio_output {
  type "alsa"
  name "ALSA Audio"
}
{{ end }}

filesystem_charset "utf-8"
