alias a=tmux-default
alias cdp='cd ..'
alias cdpp='cd ../..'
alias cdppp='cd ../../..'
alias cdpppp='cd ../../../..'
alias e='{{- .editor -}}'
alias f=ranger
alias j=just
alias m=make
alias rq="rg --no-ignore --hidden --follow --glob '!.git/*'"
alias l=exa
alias la='exa --git -a'
alias ll='exa --git -al'
alias lt="exa --git -alT --ignore-glob='.git'"
alias pp='clipboard --paste'
alias yc='clipboard --clear'
alias yy='clipboard --copy'
alias zat='zathura --fork'
