[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=mpd
Comment=Music Player Daemon
Exec=mpd
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
