[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Wallpaper
Comment=Set the X session wallpaper
Exec={{ env "HOME" }}/.local/bin/autostart-bash {{ env "HOME" }}/.config/wallpaper/launch
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
