{{- $color := includeTemplate "color.json" . | mustFromJson -}}
{{- $bg := $color.bg.rgb.rgb -}}
{{- $selection := $color.base02.rgb.rgb -}}
{{- $fg := $color.fg.rgb.rgb -}}
{{- $black := $color.black.rgb.rgb -}}
{{- $red := $color.red.rgb.rgb -}}
{{- $orange := $color.orange.rgb.rgb -}}
{{- $yellow := $color.yellow.rgb.rgb -}}
{{- $green := $color.green.rgb.rgb -}}
{{- $cyan := $color.cyan.rgb.rgb -}}
{{- $blue := $color.blue.rgb.rgb -}}
{{- $pink := $color.pink.rgb.rgb -}}
{{- $purple := $color.purple.rgb.rgb -}}
{{- $special := $color.special.rgb.rgb -}}

[skin]
default               = "none none / {{ $black }} none"
tree                  = "{{ $black }} none / {{ $black }} none"
parent                = "{{ $black }} none"
file                  = "none none / {{ $black }} none"
directory             = "{{ $blue }} none bold / {{ $black }} none bold"
exe                   = "{{ $green }} none bold"
link                  = "{{ $cyan }} none bold"
pruning               = "{{ $black }} none"
perm__                = "{{ $black }} none bold / {{ $black }} none"
perm_r                = "{{ $yellow }} none / {{ $black }} none"
perm_w                = "{{ $red }} none / {{ $black }} none"
perm_x                = "{{ $green }} none / {{ $black }} none"
owner                 = "{{ $yellow }} none bold / {{ $black }} none"
group                 = "{{ $black }} none bold / {{ $black }} none"
count                 = "{{ $red }} none bold / {{ $black }} none"
dates                 = "{{ $black }} none bold / {{ $black }} none"
sparse                = "{{ $blue }} none bold / {{ $black }} none"
content_extract       = "{{ $yellow }} none / {{ $black }} none"
content_match         = "{{ $red }} none bold"
device_id_major       = "{{ $black }} none bold / {{ $black }} none bold"
device_id_sep         = "{{ $black }} none bold"
device_id_minor       = "{{ $black }} none bold / {{ $black }} none bold"
git_branch            = "{{ $pink }} none bold / {{ $black }} none"
git_insertions        = "{{ $green }} none bold / {{ $black }} none"
git_deletions         = "{{ $red }} none bold / {{ $black }} none"
git_status_current    = "{{ $cyan }} none bold / {{ $black }} none bold"
git_status_modified   = "{{ $cyan }} none bold / {{ $black }} none"
git_status_new        = "{{ $cyan }} none bold / {{ $black }} none"
git_status_ignored    = "{{ $black }} none bold / {{ $black }} none"
git_status_conflicted = "{{ $red }} none bold / {{ $black }} none"
git_status_other      = "{{ $cyan }} none bold / {{ $black }} none"
selected_line         = "none {{ $selection }}"
char_match            = "{{ $red }} none bold"
file_error            = "{{ $red }} none"
flag_label            = "{{ $black }} none"
flag_value            = "{{ $black }} none bold"
input                 = "none none / {{ $black }} none"
status_error          = "{{ $red }} none reverse / none {{ $black }}"
status_job            = "{{ $cyan }} none bold"
status_normal         = "{{ $black }} none"
status_italic         = "{{ $yellow }} none bold / {{ $black }} none bold"
status_bold           = "{{ $black }} none bold / {{ $black }} none bold"
status_code           = "{{ $green }} none bold / {{ $black }} none bold"
status_ellipsis       = "{{ $yellow }} none bold / {{ $black }} none"
purpose_normal        = "none none / {{ $black }} none"
purpose_italic        = "{{ $yellow }} none bold / {{ $black }} none bold"
purpose_bold          = "none none bold / {{ $black }} none bold"
purpose_ellipsis      = "{{ $black }} none"
scrollbar_track       = "{{ $selection }} none"
scrollbar_thumb       = "{{ $fg }} none / {{ $black }} none"
help_paragraph        = "none none / {{ $black }} none"
help_bold             = "none none bold"
help_italic           = "{{ $yellow }} none bold"
help_code             = "{{ $green }} none bold"
help_headers          = "{{ $yellow }} none underlined"
help_table_border     = "{{ $black }} none"
preview               = "{{ $fg }} {{ $bg }} / {{ $black }} {{ $bg }}"
preview_title         = "{{ $yellow }} none bold / {{ $black }} none bold"
preview_line_number   = "{{ $black }} none"
preview_match         = "{{ $red }} none bold / none none bold"
hex_null              = "{{ $black }} none bold"
hex_ascii_graphic     = "{{ $fg }} none / {{ $black }} none"
hex_ascii_whitespace  = "{{ $black }} none"
hex_ascii_other       = "{{ $cyan }} none / {{ $black }} none"
hex_non_ascii         = "{{ $blue }} none / {{ $black }} none"
staging_area_title    = "{{ $yellow }} none bold / {{ $black }} none bold"
mode_command_mark     = "{{ $special }} none bold"
