[special-paths]
"/home/adam/.cache" = "no-enter"
"/home/adam/christiansen" = "no-enter"
{{ if eq .chezmoi.os "darwin" -}}
"/home/adam/pCloud Drive" = "no-enter"
{{- else -}}
"/home/adam/pCloudDrive" = "no-enter"
{{- end}}
